{
    "swagger": "2.0",
    "info": {
        "description": "API de integração com os dispositivos produzidos pela Quanta Tecnologia\n",
        "version": "1.0.0",
        "title": "moviasConnect API",
        "termsOfService": "https://moviasconnect.mybluemix.net/terms/",
        "contact": {
            "name": "suporte@quantatec.com.br"
        },
        "license": {
            "name": "Quanta Tecnologia",
            "url": "http://www.google.com.br"
        }
    },
    "host": "moviasconnect.mybluemix.net",
    "basePath": "/api",
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/input": {
            "put": {
                "summary": "Alteração dos parâmetros de entrada",
                "description": "API para alteração dos parâmetros de entrada",
                "tags": [
                    "Input Parameters"
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "productId",
                        "in": "query",
                        "description": "ID do Produto",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "serialNumber",
                        "in": "query",
                        "description": "Número de Série",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Mensagem enviada pelo servidor para o Rastreador contendo parâmetros de configuração para serem alterados",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/input"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sucesso"
                    },
                    "404": {
                        "description": "ID de Produto / Número de Série não existe ou não pertecnce a este cliente."
                    },
                    "405": {
                        "description": "JSON inválido"
                    }
                }
            }
        }
    },
    "definitions": {
        "input": {
            "type": "object",
            "properties": {
                "ignition": {
                    "type": "object",
                    "properties": {
                        "messageSend": {
                            "type": "string",
                            "default": "both",
                            "enum": [
                                "never",
                                "desviolated",
                                "violated",
                                "both"
                            ]
                        },
                        "startBlocker": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "startGenericNegative0": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "violationTime": {
                            "type": "number",
                            "default": 10,
                            "minimum": 0,
                            "maximum": 65535
                        },
                        "enableSinister": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "logicalStartLevel": {
                            "type": "string",
                            "default": "12/24V",
                            "enum": [
                                0,
                                "12/24V"
                            ]
                        },
                        "mode": {
                            "type": "string",
                            "default": "virtual",
                            "enum": [
                                "fisico",
                                "virtual"
                            ]
                        }
                    }
                },
                "battery": {
                    "type": "object",
                    "properties": {
                        "messageSend": {
                            "type": "string",
                            "default": "both",
                            "enum": [
                                "never",
                                "desviolated",
                                "violated",
                                "both"
                            ]
                        },
                        "startBlocker": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "startGenericNegative0": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "violationTime": {
                            "type": "number",
                            "default": 10,
                            "minimum": 0,
                            "maximum": 65535
                        },
                        "enableSinister": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "logicalStartLevel": {
                            "type": "string",
                            "default": "12/24V",
                            "enum": [
                                0,
                                "12/24V"
                            ]
                        },
                        "sleepOff": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        }
                    }
                },
                "accelerometer": {
                    "type": "object",
                    "properties": {
                        "messageSend": {
                            "type": "string",
                            "default": "both",
                            "enum": [
                                "never",
                                "desviolated",
                                "violated",
                                "both"
                            ]
                        },
                        "startBlocker": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "startGenericNegative0": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "violationTime": {
                            "type": "number",
                            "default": 65535,
                            "minimum": 0,
                            "maximum": 65535
                        },
                        "enableSinister": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "logicalStartLevel": {
                            "type": "string",
                            "default": "12/24V",
                            "enum": [
                                0,
                                "12/24V"
                            ]
                        },
                        "sleepOff": {
                            "type": "string",
                            "default": "on",
                            "enum": [
                                "on",
                                "off"
                            ]
                        }
                    }
                },
                "jammer": {
                    "type": "object",
                    "properties": {
                        "messageSend": {
                            "type": "string",
                            "default": "both",
                            "enum": [
                                "never",
                                "desviolated",
                                "violated",
                                "both"
                            ]
                        },
                        "startBlocker": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "startGenericNegative0": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "violationTime": {
                            "type": "number",
                            "default": 60,
                            "minimum": 0,
                            "maximum": 65535
                        },
                        "enableSinister": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "logicalStartLevel": {
                            "type": "string",
                            "default": "12/24V",
                            "enum": [
                                0,
                                "12/24V"
                            ]
                        },
                        "sleepOff": {
                            "type": "string",
                            "default": "on",
                            "enum": [
                                "on",
                                "off"
                            ]
                        }
                    }
                },
                "genericNegative1": {
                    "type": "object",
                    "properties": {
                        "messageSend": {
                            "type": "string",
                            "default": "both",
                            "enum": [
                                "never",
                                "desviolated",
                                "violated",
                                "both"
                            ]
                        },
                        "startBlocker": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "startGenericNegative0": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "violationTime": {
                            "type": "number",
                            "default": 1,
                            "minimum": 0,
                            "maximum": 65535
                        },
                        "enableSinister": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "logicalStartLevel": {
                            "type": "string",
                            "default": "12/24V",
                            "enum": [
                                0,
                                "12/24V"
                            ]
                        },
                        "sleepOff": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        }
                    }
                },
                "genericpositive1": {
                    "type": "object",
                    "properties": {
                        "messageSend": {
                            "type": "string",
                            "default": "both",
                            "enum": [
                                "never",
                                "desviolated",
                                "violated",
                                "both"
                            ]
                        },
                        "startBlocker": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "startGenericNegative0": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "violationTime": {
                            "type": "number",
                            "default": 1,
                            "minimum": 0,
                            "maximum": 65535
                        },
                        "enableSinister": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "logicalStartLevel": {
                            "type": "string",
                            "default": "12/24V",
                            "enum": [
                                0,
                                "12/24V"
                            ]
                        },
                        "sleepOff": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        }
                    }
                },
                "genericNegative2": {
                    "type": "object",
                    "properties": {
                        "messageSend": {
                            "type": "string",
                            "default": "both",
                            "enum": [
                                "never",
                                "desviolated",
                                "violated",
                                "both"
                            ]
                        },
                        "startBlocker": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "startGenericNegative0": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "violationTime": {
                            "type": "number",
                            "default": 1,
                            "minimum": 0,
                            "maximum": 65535
                        },
                        "enableSinister": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "logicalStartLevel": {
                            "type": "string",
                            "default": "12/24V",
                            "enum": [
                                0,
                                "12/24V"
                            ]
                        },
                        "sleepOff": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        }
                    }
                },
                "genericNegative3": {
                    "type": "object",
                    "properties": {
                        "messageSend": {
                            "type": "string",
                            "default": "both",
                            "enum": [
                                "never",
                                "desviolated",
                                "violated",
                                "both"
                            ]
                        },
                        "startBlocker": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "startGenericNegative0": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "violationTime": {
                            "type": "number",
                            "default": 1,
                            "minimum": 0,
                            "maximum": 65535
                        },
                        "enableSinister": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "logicalStartLevel": {
                            "type": "string",
                            "default": "12/24V",
                            "enum": [
                                0,
                                "12/24V"
                            ]
                        },
                        "sleepOff": {
                            "type": "string",
                            "default": "off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        },
                        "useIbutton": {
                            "type": "string",
                            "default": "on",
                            "enum": [
                                "on",
                                "off"
                            ]
                        }
                    }
                }
            }
        }
    }
}